@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
      
}

body{
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 4px;
    background-color: var(--dark3);
    height: 100vh;
}

:root{
    --white: #fff;
    --dark1: gray;
    --dark2: black;
    --dark3: #34344D;
    --dark4: #2F2F46;
    --blue: #70e3ea;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark4);
    min-height: 50px;
}

.box-logo{
    height: 100%;
}

.logo{
    max-width: 60px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover{
    color: var(--dark1);
    transition: .4s;
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
}

section{
    padding: 4rem;
}

.primeira-section{
    display: flex;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
    min-height: 650px;
}

.primeira-section > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

h1{
    font-size: 2.5rem;
    color: var(--white);
}
span{
    color: var(--blue);
}

.primeira-section p{
    color: var(--white);
    font-weight: bold;
}

.primeira-section > div a{
    border-radius: 8px;
    border: 1px solid var(--white);
    text-align: center;
    color: var(--white);
    text-decoration: none;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    transition:  .4s;
    background-color: transparent;
    
}

.primeira-section > div a:hover{
    color: var(--blue);
    background-color: var(--dark4);
    border: 1px solid var(--blue);
}

.img-main{
    max-width: 400px;
    padding: 1rem;
}

.img-perfil{
    border-radius: 50%;
    width: 100%;
}

.segunda-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--dark4);
}
.segunda-section ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.segunda-section ul li{
    color: gray;
    font-weight: bold;
    letter-spacing: 2px;
    transition:  .4s;
    cursor: default;
}

.segunda-section ul li:hover{
    color: var(--white);
   
}

.title{
    color: var(--white);
}

.terceira-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.terceira-section > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.terceira-section > div img{
    width: 200px;
    border-radius: 10px;
}

.terceira-section > div p{
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}

.quarta-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--dark4);
}
.quarta-section ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.quarta-section ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    letter-spacing: 2px;
    transition:  .4s;
    cursor: default;
}

.quarta-section ul li a:hover{
    color: var(--white);
    cursor: pointer;
   
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

footer > div a{
    padding: 2rem;
    color: var(--white);
    
}

